*.*~
*~
rm.sh
push.sh
.*.swp
*.zip
*.7z
*.stash
*.Debug
*.Release
*.user
*.user.*
*.autosave
*.o
*.so
*.dll
*.db
*.bak
*.psd
build*
/tmp
/test
/bin
/src/bin
/src/build-*
/src/signAPlugin/build-*
/src/3rdParty/qwtplot3d/lib
/src/3rdParty/qtpropertybrowser/lib
Thumb.db
