*.*~
*~
.*.swp
*.zip
*.7z
*.stash
*.Debug
*.Release
*.user
*.user.*
*.autosave
*.o
*.so
*.dll
*.db
*.bak
*.psd
build*
/tmp
/test
/src/bin
/src/build-*
/src/signAPlugin/build-*
/src/3rdParty/qwtplot3d/lib/d/qwtplot3d.lib
/src/3rdParty/qwtplot3d/lib/r/qwtplot3d.lib
Thumb.db
