QTabBar::tab {
    min-height:22px;
    background: transparent;
    min-width: 8ex;
    padding: 2px;
}

QTabBar::tab:selected, QTabBar::tab:hover {
    background:#FFF;
}

QTabBar::tab:selected {
    border-color: #FFCC66;
}

QTabBar::tab:hover:!selected {
    border: 1px solid #ECBC3D;
}


